body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*=======================[CART PAGE]==========================================*/
#checkoutbutton {
  float: left;
  margin-left: 66vw;
}

/*========================[CHECKOUT PAGE]=====================================*/
.title {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.checkout-ui {
  display: flex;
  flex-direction: row;
}

.placeorder {
  margin-left: auto;
  margin-right: 100px;
}

.right {
  margin-left: auto;
}

.flex {
  display: flex;
}

.subtotal {
  margin-bottom: 40px;
}

.cart-items {
  margin-left: 20vw;
}

.item {
  width: 50vw;
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #6db1f0;
  margin-bottom: 30px;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.item-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*=============================[Home Carousel]================================*/
.home-carousel {
  display: flex;
  background-color: black;
  justify-content: center;
}

.home-carousel-blue {
  display: flex;
  justify-content: center;
  background-color: blue;
}

.home-carousel-purple {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

/*==========[Custom Slider]====================*/
.custom-slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-slide-pic {
  width: 500px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.home-video {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
